<div class="w-screen bg-white relative overflow-hidden">
    <!-- <img class="absolute top-[150px] -right-[400px]" alt="vektor" src="../../../assets/Vector.svg"  />
    <img class="absolute top-[400px] -left-[200px]" alt="vektor" src="../../../assets/Vector.svg"  /> -->
    <!-- Header -->
    <div class="w-full container mx-auto flex justify-between items-center px-10 py-6 bg-white fixed z-50">
        <span class="text-xl font-bold">Lorem Ipsum</span>
        <div class="flex justify-center items-center gap-10">
            <span class="text-xs font-medium">Home</span>
            <span class="text-xs font-medium">About Me</span>
            <span class="text-xs font-medium">My Gallery</span>
            <span class="text-xs font-medium">My Service</span>
            <span class="text-xs font-medium">Contact Me</span>
        </div>
        <div class="flex justify-center gap-4">
            <img src="../../../assets/Behance Fill.svg" />
            <img src="../../../assets/WhatsApp.svg" />
            <img src="../../../assets/Instagram Fill.svg" />
        </div>
    </div>
    <!-- End Header -->
    <!-- Hero -->
    <div class="w-full pt-40 bg-white flex flex-col justify-center items-center">
        <div class="text-center w-[900px]">
            <span class="text-6xl uppercase font-bold">Lorem ipsum dolor sit amet consectetur</span>
        </div>
        <div class="w-[849px] pt-5">
            <p class="font-normal text-xl text-[#001935]/50 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie suscipit justo, id rhoncus enim cursus at. Donec dignissim finibus posuere. Vivamus ut sapien et augue congue pulvinar ut sit amet neque.</p>
        </div>
        <div class="flex gap-5 mt-10 items-end relative">
            <div class="">
                <div class="relative">
                    <img class="rounded-b-xl rounded-tr-xl" alt="img" src="https://marketplace.canva.com/EAE7LUqvjGY/1/0/1600w/canva-cream-minimalist-typography-circle-logo-design-sYPWjJeq004.jpg" width="197" height="197" />
                    <div class="w-[60%] bg-[#f0eae5] absolute left-0 -top-5 h-5 rounded-t-xl"></div>
                </div>
                <div class="mt-10 relative flex justify-center items-center gap-2 bg-[#F6F6F6] py-6">
                    <div class="p-2 bg-[#001935] rounded-md">
                        <img src="../../../assets/Pen.svg" />
                    </div>
                    <span class="uppercase text-xs font-semibold">CREATE YOUR lOGO</span>
                    <div class="w-[60%] bg-[#f6f6f6] absolute left-0 -top-5 h-5 rounded-t-xl"></div>
                </div>
            </div>
            <div class="">
                <div class="relative">
                    <img class="rounded-b-xl rounded-tr-xl" alt="img" src="https://marketplace.canva.com/EAE7LUqvjGY/1/0/1600w/canva-cream-minimalist-typography-circle-logo-design-sYPWjJeq004.jpg" width="197" height="197" />
                    <div class="w-[60%] bg-[#f0eae5] absolute left-0 -top-5 h-5 rounded-t-xl"></div>
                </div>
            </div>
            <div class="w-[240px] flex flex-col items-center">
                <span class="text-xl font-bold">SEE ALL MY PROJECT</span>
                <p class="text-sm text-[#001935]/50 text-center my-4">Proin molestie suscipit justo, id rhoncus enim cursus at.</p>
                <button class="flex justify-center items-center gap-2 py-4 bg-[#F6F6F6] w-full rounded-xl">
                    Click Here
                    <img src="../../../assets/Arrow_right.svg" />
                </button>
            </div>
            <div class="">
                <div class="relative">
                    <img class="rounded-b-xl rounded-tl-xl" alt="img" src="https://marketplace.canva.com/EAE7LUqvjGY/1/0/1600w/canva-cream-minimalist-typography-circle-logo-design-sYPWjJeq004.jpg" width="197" height="197" />
                    <div class="w-[60%] bg-[#f0eae5] absolute right-0 -top-5 h-5 rounded-t-xl"></div>
                </div>
            </div>
            <div class="">
                <div class="relative">
                    <img class="rounded-b-xl rounded-tl-xl" alt="img" src="https://marketplace.canva.com/EAE7LUqvjGY/1/0/1600w/canva-cream-minimalist-typography-circle-logo-design-sYPWjJeq004.jpg" width="197" height="197" />
                    <div class="w-[60%] bg-[#f0eae5] absolute right-0 -top-5 h-5 rounded-t-xl"></div>
                </div>
                <div class="mt-10 relative flex justify-center items-center gap-2 bg-[#F6F6F6] py-6">
                    <div class="p-2 bg-[#001935] rounded-md">
                        <img src="../../../assets/Pen.svg" />
                    </div>
                    <span class="uppercase text-xs font-semibold">CREATE YOUR lOGO</span>
                    <div class="w-[60%] bg-[#f6f6f6] absolute right-0 -top-5 h-5 rounded-t-xl"></div>
                </div>
            </div>
            <div class="absolute flex justify-center w-full top-0 gap-10">
                <div class="w-[200px]">
                    <button class="bg-[#001935] text-white py-3 w-full border-2 border-[#001935]">Contact Me</button>
                </div>
                <div class="w-[200px]">
                    <button class="border-2 border-[#001935] text-[#001935] bg-white py-3 w-full">Download My CV</button>
                </div>
            </div>
        </div>
    </div>
    <div class="px-10 container mx-auto w-full flex gap-10 mt-40">
        <div class="w-2/4 grid grid-cols-2 gap-5">
            <div class="w-full">
                <img alt="image" src="../../../assets/image 8.svg" style="width: 100%;" />
            </div>
            <div class="w-full">
                <img alt="image" src="../../../assets/image 8.svg" style="width: 100%;" />
            </div>
            <div class="w-full">
                <img alt="image" src="../../../assets/image 8.svg" style="width: 100%;" />
            </div>
            <div class="w-full">
                <img alt="image" src="../../../assets/image 8.svg" style="width: 100%;" />
            </div>
        </div>
        <div class="w-2/4">
            <div class="flex flex-col">
                <span class="uppercase font-bold text-xl text-[#001935]">About my profile</span>
                <span class="text-4xl uppercase font-bold text-[#001935] pt-4 pb-5">Lorem ipsum dolor </span>
                <span class="text-xl font-normal text-[#00193580]/50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie suscipit justo, id rhoncus enim cursus at. Donec dignissim finibus posuere. Vivamus ut sapien et augue congue pulvinar ut sit amet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie suscipit justo, id rhoncus enim cursus at. Donec dignissim finibus posuere. Vivamus ut sapien et augue congue pulvinar ut sit amet neque. </span>
                <span class="text-xl font-normal text-[#00193580]/50 pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie suscipit justo, id rhoncus enim cursus at.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie suscipit justo, id rhoncus enim cursus at.</span>
            </div>
        </div>
    </div>
    <!-- End Hero -->
    <!-- My Gallery -->
    <div class="w-full mt-40 relative">
        <div class="flex justify-between items-end px-10">
            <div class="flex flex-col">
                <span class="text-xl font-bold">My Gallery</span>
                <span class="text-4xl font-bold pt-4 py-5">Lorem ipsum dolor</span>
                <span class="text-xl font-normal w-[752px] text-[#00193580]/50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie suscipit justo, id rhoncus enim cursus at. Donec dignissim finibus posuere. Vivamus ut sapien et augue congue pulvinar ut sit amet neque.</span>
            </div>
            <div class="flex justify-center items-center gap-4">
                <div class="p-4 border-2 border-[#001935] rounded-full cursor-pointer bg-white z-20">
                    <img src="../../../assets/Expand_right.svg" />
                </div>
                <div class="p-4 border-2 border-[#001935] rounded-full cursor-pointer bg-white z-20">
                    <img src="../../../assets/Expand_right.svg" class="rotate-180" />
                </div>
            </div>
        </div>
        <div class="mt-10 grid grid-cols-4 bg-black">
            <div *ngFor="let image of imageLength" class="relative group z-20">
                <img alt="image" src="https://source.unsplash.com/random/300×300" width="100%" height="100%" />
                <div class="invisible group-hover:visible absolute top-0 left-0 bg-[#001935] w-full h-full flex justify-center items-center bg-opacity-70 backdrop-blur-sm">
                    <button class="text-white">Detail Image</button>
                </div>
            </div>
        </div>
        <div class="absolute top-28 -right-0">
            <img src="../../../assets/Topographic 5.svg" />
        </div>
    </div>
    <!-- End My Gallery -->
</div>